::selection {
  background: #0d144a;
  color: #fff;
}
::-moz-selection {
  background: #0d144a;
  color: #fff;
}

body{
    overflow-x: hidden;
}

.owl-carousel{
    height: 40pc;
    overflow: hidden;
}

.owl-item img{
    margin-top: 2.8em;
}

.highlight-red{
    color: #e32f33;
    transition: .1s;
}

.highlight-red:hover{
    color: #fff;
}

.image-overlay-text{
    margin-top: -190px;
    font-size: 3em;
    color: #fff;
}

.candidate-names{
    font-size:28px;
    color:#e32f33;
    margin-top: 15px;
}

.candidate-title{
    margin-top: 10px;
    font-size: 20px;
}

.candidate-header{
    text-align: left;
    margin-top: 20px;
    font-size: 30px;
    margin-right: 5%;
    padding: 5px;
    padding-top: 7px;
    background-color: #0d144a;
    color: #fff;
    border-radius: 2px;
    border: 2px solid #0d144a;
}

.info-bullets{
    font-size: 16px;
    margin-top: 7px;
    margin-right: 5%;
    text-align: left;
    margin-left: 15px;
    line-height: 22px;
}

.issue-header{
    font-size: 32px;
    padding: 15px;
    color: #fff;
    background-color: #0d144a;
    margin-right: -100%;
    margin-left: 15px;
}

.issue-text{
    font-size: 22px;
    margin-top: 12px;
    line-height: 32px;
    margin-left: 34px;
}

.platform-desc{
    color: #fff;
    display: none;
}

.issue-image{
    border: 1px solid #0d144a;
    border-radius:15px;
    height:200px;
    margin:auto;
    margin-bottom: 15px;
}

.student-image{
    height: 220px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.bio-text{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    color: #fff;
    display: none;
    width: 84%;
    font-size: 92%;
}

.grey-box{
    background-color: #000;
    opacity: .4;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
}

.student-text{
    margin-top:-20px;
    z-index:100;
    padding:5px;
    color: #fff;
    background-color: #0d144a;
    margin-bottom: 20px;
    line-height: 20px;
}

.student-text:hover{
    opacity: .8;
    cursor: pointer;
}

.student-image img{
    display:inline;
    min-width: 100%;
}

.timeline-text{
    font-size: 25px;
    line-height: 35px;
}

.contact-text{
    font-size:24px;
}

.snap-pic{
    margin:auto;
    width:300px;
}

.candidate-top-box{
    font-weight:100;
    cursor:default;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

#clockdiv{
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #e32f33;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	display: inline-block;
    color: #0d144a;
    background: #fff;
    width: 70px;
}

.smalltext{
	padding-top: 7px;
	font-size: 16px;
}

@media screen and (max-width: 1100px){
    .owl-carousel{
        height: 100%;
    }
    
    .student-text{
        font-size: 10px;
    }
    
    .student-image{
        height: 158px
    }
    
    .candidate-title{
        font-size: 17px
    }
    
    .candidate-top-box{
        font-size:19px !important;
    }
    
    .issue-text{
        font-size: 20px;
    }
    
    .platform-desc{
        font-size: 12px;
    }

}

@media screen and (max-width:680px) {
    .timeline-text{
        font-size: 12px;
        line-height: 19px;
    }
    
    .contact-text{
        font-size: 18px;
    }
    
    .issue-header{
        font-size: 20px;
    }
    
    .issue-text{
        font-size: 14px;
        line-height: 20px;
    }
    
    .issue-header{
        margin-right: -10px;
    }
    
    .candidate-header{
        font-size: 25px;
    }
    
    .info-bullets{
        font-size: 14px;
    }
    
    .owl-item img{
        margin-top: 0;
    }
    
    .owl-carousel{
        height: 100%;
    }
    
    .candidate-names{
        font-size: 21px;
    }
    
    .snap-pic{
        width: 200px;
    }
    
    .platform-desc{
        font-size: 14px;
    }
    
    #clockdiv{
        font-size: 20px;
    }
    
    .smalltext{
        font-size: 10px;
    }
    
    #clockdiv div > span{
	   padding: 8px;
       width: 50px;
    }
    
    .highlight-red{
        font-size: 1.7em;
    }
}