::selection {
  background: #0d144a;
  color: #fff;
}
::-moz-selection {
  background: #0d144a;
  color: #fff;
}

.candidate-names{
    font-size:28px;
    color:#e32f33;
    margin-top: 15px;
}

.candidate-title{
    margin-top: 10px;
    font-size: 20px;
}

.candidate-header{
    text-align: left;
    margin-top: 20px;
    font-size: 30px;
    margin-right: 5%;
    padding: 5px;
    padding-top: 7px;
    background-color: #0d144a;
    color: #fff;
    border-radius: 2px;
    border: 2px solid #0d144a;
}

.candidate-header:hover{
    border: 2px solid #0d144a;
    background-color: #fff;
    color: #0d144a;
    cursor: pointer;
    transition: .2s;
}

.info-bullets{
    font-size: 16px;
    margin-top: 7px;
    margin-right: 5%;
    text-align: left;
    margin-left: 15px;
    line-height: 22px;
    display: none;
}

.issue-header{
    font-size: 32px;
    padding: 15px;
    color: #fff;
    background-color: #0d144a;
    margin-right: -100px;
}

.issue-text{
    font-size: 22px;
    margin-top: 12px;
    line-height: 32px;
}

.platform-desc{
    color: #fff;
    display: none;
}

.issue-image{
    border: 1px solid #0d144a;
    border-radius:15px;
    height:200px;
    margin:auto;
    margin-bottom: 15px;
}

.student-image{
    height: 220px;
    overflow: hidden;
}

.student-text{
    margin-top:-20px;
    z-index:100;
    padding:5px;
    color: #fff;
    background-color: #0d144a;
    margin-bottom: 20px;
    line-height: 20px;
}

.timeline-text{
    font-size: 25px;
    line-height: 35px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}